

.box-content{
  border: 2px solid aqua;
  border-radius: 3%;
  background-color:  #444;
  box-shadow: 0.5px 0.5px 10px 3px black;
  
  max-width: 45%;
  min-height: 80vh;
  margin: 10vh auto 0 auto;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.title{
  margin-top: 1em;
  text-align: center;
}

@media screen and (max-width: 1300px){
  .box-content{
    max-width: 70%;
  }
}

@media screen and (max-width: 900px){

  .box-content{
    max-width: 90%;
  }
  
}